<div class="d-flex">
  <!-- Sidebar -->
  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">Gifs-App</h3>
    <hr class="text-white">
    <div class="list-group list-reset">
      <a href="" class="list-group-item list-group-item-action">Dashboard</a>
    </div>
  </div>
  <!-- End Sidebar -->

  <div class="container mt-3">
    <div class="row p-9">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>
    </div>
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae iste fugiat, nulla harum ut corporis amet alias aspernatur cumque non. Perspiciatis doloremque quia illo numquam neque nisi esse, quibusdam animi!
      </div>
    </div>
  </div>

</div>